{% for object in object_list %}
    <div class="card-deck mb-3 text-left">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal">{{ object.heading }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title pricing-card-title">
                            {% if object.content|length > 1000 %}
                                {{ object.content|slice:":1000" }}...
                            {% else %}
                                {{ object.content }}
                            {% endif %}
                        </h5>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li style="font-size: 18px;">
                                Количество просмотров: {{ object.views_count }}<br>
                                Дата публикации: {{ object.publicate_date }}
                            </li>
                        </ul>
                        <div class="btn-group d-flex" role="group">
                            <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-lg btn-primary mr-2" style="margin-bottom: 5px;">Подробнее</a>
                            <a href="{% url 'blog:blog_update' object.pk %}" class="btn btn-lg btn-primary mr-2" style="margin-bottom: 5px;">Изменить</a>
                            <a href="{% url 'blog:blog_delete' object.pk %}" class="btn btn-lg btn-danger" style="margin-bottom: 5px;">Удалить</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="image-container">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" alt="Generic placeholder image" width="200" height="200">
                            {% else %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="200" height="200">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
