{% extends 'mailing/user/user_base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block form %}
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Восстановление</h1>
    <div class="form-floating">
      {{ form.as_p }}
      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="submit">Сохранить</button>
        <button class="btn btn-lg btn-primary" onclick="window.location.href='{% url 'mailing:login' %}'">Назад</button>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2023</p>
  </form>
{% endblock %}