{% extends 'mailing/user/user_base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block form %}

  <form method="POST" action="{% url 'mailing:password_reset' %}">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Восстановление пароля</h1>
    <div class="form-floating">
      {{ form.as_p }}
    </div>
    <div class="form-group">
      <button class="w-100 btn btn-lg btn-primary" type="submit">Восстановить</button>
    </div>
    <div class="form-group">
      <button class="w-100 btn btn-lg btn-primary" onclick="window.location.href='{% url 'mailing:login' %}'">Назад</button>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2023</p>
  </form>

{% endblock %}