{% extends 'mailing/user/user_base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block form %}
    <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        <div class="form-floating">
            {{ form.as_p }}
        </div>
          <label>
            <a href="{% url 'mailing:registration' %}"> Регистрация <a/>
                |
            <a href="{% url 'mailing:password_reset' %}"> Забыли пароль <a/>
          </label>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2023</p>
      </form>
{% endblock %}