{% extends 'mailing/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title">{{ object.heading }}</h4>
                            <hr>
                            {{ form.as_p }}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}