{% for object in object_list %}
    {% if object.active_flg %}
        <div class="card-deck mb-3 text-left">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
              </div>
              <div class="card-body">
                <h5 class="card-title pricing-card-title">Время рассылки: {{ object.time }}</h5>
                <ul class="list-unstyled mt-3 mb-4">
                  <li style="font-size: 18px;">{{ object.regularity }}</li>
{#                  <li style="font-size: 18px;">{{ object.get_status_display }}</li>#}
                </ul>
                <div class="btn-group d-flex" role="group">
                    <a href="{% url 'mailing:mailing_detail' object.pk %}" class="btn btn-lg btn-primary mr-2">Подробнее</a>
                    <a href="{% url 'mailing:mailing_update' object.pk %}" class="btn btn-lg btn-primary mr-2">Изменить</a>
{#                    <button type="button" class="btn btn-lg btn-primary mr-2">Изменить</button>#}
                    <div class="ml-auto">
                        <a href="{% url 'mailing:mailing_delete' object.pk %}" class="btn btn-lg btn-danger">Удалить</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    {% endif %}
{% endfor %}